/* Framework */


/* Bootstrap */
@import "bootstrap/dist/css/bootstrap.rtl.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Base Components */
@import "./components/form/base-input.css";

/* Inputs */
@import "./components/inputs/text-input.css";
@import "./components/inputs/password-input.css";
@import "./components/inputs/mobile-input.css";
@import "./components/inputs/national-code-input.css";
@import "./components/inputs/money-input.css";
@import "./components/inputs/date-input.css";
@import "./components/inputs/select-input.css";
@import "./components/inputs/textarea-input.css";
@import "./components/inputs/file-input.css";
@import "@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css";
@import './custom.css';

footer{

    font-size: .85rem;

}

/*
|--------------------------------------------------------------------------
| Prefix Input
|--------------------------------------------------------------------------
*/

.loan-number-box{

    display:flex;
    direction:ltr;
    width:100%;

}

.loan-prefix{

    min-width:80px;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#f8f9fa;

    border:1px solid #ced4da;

    border-right:0;

    border-radius:.375rem 0 0 .375rem;

    font-weight:700;

}

.loan-number-box input{
    direction:ltr !important;
    text-align:left !important;
    border-radius:0 .375rem .375rem 0;

}
.loan-number-display{
    direction:ltr;
    unicode-bidi:isolate;
    text-align:left;
}
