.account-card {

    cursor:pointer;
    transition:.2s;
    border-width:2px !important;
    background:#f8fff9;
    position:relative;

}


.account-card:hover {

    transform:translateY(-3px);
    box-shadow:0 4px 12px rgba(0,0,0,.12);

}



.account-card.selected {

    border:3px solid #198754 !important;
    background:#e8fff0;
    box-shadow:0 0 15px rgba(25,135,84,.35);

}



.account-card.selected .status-active {

    display:none;

}



.account-card.selected::after {

    content:"✓ انتخاب شد";

    position:absolute;

    top:10px;

    left:10px;

    background:#198754;

    color:white;

    padding:4px 12px;

    border-radius:20px;

    font-size:12px;

}
